body {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 65px;
    width: 100%;
    background: linear-gradient(90deg, #ffffff, #eef3ff, #f8faff);  
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-bottom: 2px solid #dbe6ff;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 50px;
    height: 20px;
}

.title {
    font-size: 20px;
    font-weight: 800;
    color: #235EBE;
}

.right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 20px; 
}

.logout {
    background: transparent;     
    border: 1px solid #2563EB;     
    color: #2563EB;
    font-size: 15px;
    padding: 6px 14px;
    border-radius: 10px;         
    cursor: pointer;
    transition: 0.3s;
}

.welcome {
    margin-right: 15px;
    font-size: 20px;
    font-weight: 800;
    color: #2563EB;
}