.admin-sidebar{

width:240px;
height:100vh;

background:#1e3a8a;

color:white;

padding:25px;

position:fixed;

}

.logo{
margin-bottom:40px;
}

.admin-sidebar nav{
display:flex;
flex-direction:column;
gap:15px;
}

.admin-sidebar a{

color:white;
text-decoration:none;

padding:10px;

border-radius:6px;

transition:0.3s;

}

.admin-sidebar a:hover{

background:#2563eb;

}