* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.auth-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #2563eb, #1e3a8a);
  padding: 20px;
}

.auth-box {
  width: 100%;
  max-width: 420px;
  background: white;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.auth-content h2 {
  font-size: 26px;
  margin-bottom: 8px;
}

.auth-content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #2563eb;
}

.primary-btn {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  background: #1e40af;
}

.bottom-text {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.bottom-text a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}

/* Responsive */
@media (max-width: 480px) {
  .auth-box {
    padding: 25px;
  }
}


.form-group select {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
}

